<!-- HEAD SECTION -->
<% content_for :head do %>
  <script>
  
    app.search.teachers = <%=@teachers_json.html_safe%>;

    // Initialize the JavaScript for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.search.initialize();
    });
  
  </script>

<% end %>

<% content_for :debug_box do %>
  <div id="debuggingBox">
    <label style="color: grey;">Debugging Box</label> </br>
    <br/>
    <a href="<%= url_for(:action => 'home', :controller => 'teachers') %>">Home Page</a> </br>
  </div>
<% end %>

<% content_for :page_id do %>
  "search_page"
<% end %>

<section id="main_content">

      <section id="teacherList">
      </section>
  
      <section id="filters">
        <div class="filterHeaderRowContainer">
          <div class="filter-row-left filterHeaderLeftCorner"></div>
          <div class="filter-row-middle filterHeaderLeftMiddle"></div>
          <div class="filter-row-right filterHeaderRightCorner"></div>
          <div class="filterHeaderTitle">Filtrar Resultados</div>
        </div>
  
        <div class="filter-row">
          <div class="filter-row-left filterOddRowLeft"></div>
          <div class="filter-row-middle filterOddRowMiddle"></div>
          <div class="filter-row-right filterOddRowRight"></div>
          <div class="filterOddRowContent">
            <div style="float: left;">Zona</div>
            <div class="hasTooltipsy" title="Agrega zonas aledañas a las que seleccionaste" style="float: right;">
            </div>
          </div>
        </div>
        
        <%        
        for i in 1..@contiguous_zones.length do

          zone = @contiguous_zones[i-1]

          # Even zones are displayed in the same row than odd ones, so they must be ignored
          if (i % 2) == 0
            next
          end

          # If there's a next zone, take it and display it in the same row
          zone2 = nil
          if @contiguous_zones.length > i
            zone2 = @contiguous_zones[i]
          end

          # Set a special style for the selected zones so it is shown to the user as a checked box
          zone_contains = ""
          if @zone_id_array.include?(zone.id.to_s)
            zone_contains = "filter-row-zone-column-set-selected"
          end
          zone2_contains = ""
          if zone2 != nil            
            if @zone_id_array.include?(zone2.id.to_s)
              zone2_contains = "filter-row-zone-column-set-selected"
            end
          end
        %>
        <div class="filter-row">
          <div class="filter-row-left"></div>
          <div class="filter-row-middle"></div>
          <div class="filter-row-right"></div>
          <div class="filter-row-zone">
            <span class="filter-row-zone-column filter-row-zone-column-one <%=zone_contains%>">
              <%=zone.name%>
            </span>
            <% if zone2 != nil %>
            <span class="filter-row-zone-column filter-row-zone-column-two <%=zone2_contains%>">
              <%=zone2.name%>
            </span>
            <% end %>
          </div>
        </div>
          <%
        end
        %>
        <div class="filter-row">
          <div class="filter-row-left filterEvenRowLeft"></div>
          <div class="filter-row-middle filterEvenRowMiddle"></div>
          <div class="filter-row-right filterEvenRowRight"></div>
          <div class="filterEvenRowContent">
            <div style="float: left;">Telefono</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que pusieron a disposición un numero telefónico para contactarlos?" style="float: right;">
              <div class="sweetCheckbox" title="must_have_phone"></div>
            </div>
          </div>
        </div>
  
        <div class="filter-row">
          <div class="filter-row-left filterOddRowLeft"></div>
          <div class="filter-row-middle filterOddRowMiddle"></div>
          <div class="filter-row-right filterOddRowRight"></div>
          <div class="filterOddRowContent">
            <div style="float: left;">E-Mail</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que pusieron a disposición un correo electrónico para contactarlos?" class="hasTooltipsy" style="float: right;">
              <div class="sweetCheckbox" title="must_have_email"></div>
            </div>
          </div>
        </div>
  
        <div class="filter-row">
          <div class="filter-row-left filterOddRowLeft"></div>
          <div class="filter-row-middle filterOddRowMiddle"></div>
          <div class="filter-row-right filterOddRowRight"></div>
          <div class="filterOddRowContent">
            <div style="float: left;">Precio</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que muestran el precio por hora para su clase?" style="float: right;">
              <div class="sweetCheckbox" title="must_have_price"></div>
            </div>
          </div>
        </div>
        
      </section>

</section>

<script id="searchTemplate" type="text/template">

  {[ _.each(data, function(result, index) { ]}

    {[ classValue = index%2 === 0 ? "teacherListOdd" : "teacherListEven"; ]}

    <div class="teacherList {{ classValue }}">

      <img src="/avatars/{{ result.avatar }}" class="resultThumbnail" alt="" />

      <div class="reputationBox">
        {[ _.each([1,2,3,4,5], function(index) {
          classValue = index <= result.rating ? "teacherReputationYellowStar" : "teacherReputationBlackStar";]}

          <span class="{{ classValue }}"></span>
        {[ }); ]}

      </div>

      <div class="detailsSection">

        <div class="teacherName">
          {{ result.first_name }} {{ result.last_name }}
        </div>

        <div class="teacherDescription">
          {{ result.description }}
        </div>

        <div class="tagsSection">

          {[ _.each(result.professorships, function(professorship) {]}
              <div class="tagContainer">
                <div class="tagLeftBg"></div>
                <div class="tagMiddleBg">
                  <span class="tagText">
                    {{professorship.activity.name}}
                  </span>
                </div>
                <div class="tagRightBg"></div>
              </div>
          {[ }); ]}
        </div>

        <div class="showDetails"></div>

      </div>
    </div>
  {[ }); ]}
</script>