<!-- HEAD SECTION -->
<% content_for :head do %>
  <script>
  
    app.search.teachers = <%=@teachers_json.html_safe%>;

    // Initialize the JavaScript for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.search.initialize();
    });
  
  </script>

<% end %>

<% content_for :debug_box do %>
  <div id="debuggingBox">
    <label style="color: grey;">Debugging Box</label> </br>
    <br/>
    <a href="<%= url_for(:action => 'home', :controller => 'teachers') %>">Home Page</a> </br>
  </div>
<% end %>

<% content_for :page_id do %>
  "search_page"
<% end %>

<section id="main-content">

      <div class="new-search">
          Nueva busqueda
      </div>

      <section id="teachers">
      </section>
  
      <section id="login">
        <div id="register">
        </div>
        <span id="register-text">Registrate</span>
        <div id="login"></div>
        <span id="login-text">Identificate</span>
      </section>

      <section id="filters">
        <div class="filter-header">
          <div class="filter-row-left filter-header-left-corner"></div>
          <div class="filter-row-middle filter-header-middle"></div>
          <div class="filter-row-right filter-header-right-corner"></div>
          <div class="filter-header-title">Filtrar Resultados</div>
        </div>
  
        <div class="filter-row-small">
          <div class="filter-row-left-small filter-odd-row-left"></div>
          <div class="filter-row-middle-small filter-odd-row-middle"></div>
          <div class="filter-row-right-small filter-odd-row-right"></div>
          <div class="filter-row-zone">
            <div style="float: left;">Zona</div>
            <div class="hasTooltipsy" title="Agrega zonas aledañas a las que seleccionaste" style="float: right;">
            </div>
          </div>
        </div>
        
        <%
        for i in 1..@contiguous_zones.length do

          zone = @contiguous_zones[i-1]

          # Even zones are displayed in the same row than odd ones, so they must be ignored
          if (i % 2) == 0
            next
          end

          # If there's a next zone, take it and display it in the same row
          zone2 = nil
          if @contiguous_zones.length > i
            zone2 = @contiguous_zones[i]
          end

          # Set a special style for the selected zones so it is shown to the user as a checked box
          zone_contains = "filter-row-zone-column-set-unselected"
          if @zone_id_array.include?(zone.id.to_s)
            zone_contains = "filter-row-zone-column-set-selected"
          end
          zone2_contains = "filter-row-zone-column-set-unselected"
          if zone2 != nil            
            if @zone_id_array.include?(zone2.id.to_s)
              zone2_contains = "filter-row-zone-column-set-selected"
            end
          end

        %>
        <div class="filter-row-small">
          <div class="filter-row-left-small filter-odd-row-left"></div>
          <div class="filter-row-middle-small filter-odd-row-middle"></div>
          <div class="filter-row-right-small filter-odd-row-right"></div>

          <div class="filter-row-zone">
            <span id="<%=zone.id%>" class="filter-row-zone-column-one <%=zone_contains%>">
              <%=zone.name%>
            </span>
            <% if zone2 != nil %>
            <span id="<%=zone2.id%>"class="filter-row-zone-column-two <%=zone2_contains%>">
              <%=zone2.name%>
            </span>
            <% end %>
          </div>
        </div>
          <%
        end
        %>
        <div class="filter-row">
          <div class="filter-row-left filter-odd-row-left"></div>
          <div class="filter-row-middle filter-odd-row-middle"></div>
          <div class="filter-row-right filter-odd-row-right"></div>
          <div class="filter-odd-row-content">
            <div style="float: left;">Telefono</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que pusieron a disposición un numero telefónico para contactarlos?" style="float: right;">
              <div class="sweetCheckbox" title="must_have_phone"></div>
            </div>
          </div>
        </div>
  
        <div class="filter-row">
          <div class="filter-row-left filter-odd-row-left"></div>
          <div class="filter-row-middle filter-odd-row-middle"></div>
          <div class="filter-row-right filter-odd-row-right"></div>
          <div class="filter-odd-row-content">
            <div style="float: left;">E-Mail</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que pusieron a disposición un correo electrónico para contactarlos?" class="hasTooltipsy" style="float: right;">
              <div class="sweetCheckbox" title="must_have_email"></div>
            </div>
          </div>
        </div>
  
        <div class="filter-row">
          <div class="filter-row-left filter-odd-row-left"></div>
          <div class="filter-row-middle filter-odd-row-middle"></div>
          <div class="filter-row-right filter-odd-row-right"></div>
          <div class="filter-odd-row-content">
            <div style="float: left;">Precio</div>
            <div class="hasTooltipsy" title="¿Solo mostrar profesores que muestran el precio por hora para su clase?" style="float: right;">
              <div class="sweetCheckbox" title="must_have_price"></div>
            </div>
          </div>
        </div>
        
      </section>

</section>

<script id="searchTemplate" type="text/template">

  {[

    if (data.length == 0)
    {
      ]}
      <div class="teacher-list teacher-list-empty">
        
        No hay profesores! Emplea los filtros al costado para expandir tu zona de influencia
        
      </div>
      {[
    }

  ]}
  {[ _.each(data, function(result, index) { ]}

    {[ 
      classValue = index%2 === 0 ? "teacher-list-odd" : "teacher-list-even"; 

      description = result.description;
      if (description.length > 150) {
        description = description.substring(0, 150) + "...";
      }
    ]}

    <div class="teacher-list {{ classValue }}">

      <img src="/avatars/{{ result.avatar }}" class="result-thumbnail" alt="" />

      <div class="details-section">

        <div class="teacher-name">

          {{ result.first_name }} {{ result.last_name }}                      
        
          <div class="teacher-reputation-box">
            {[ _.each([1,2,3,4,5], function(index) {

              var ratingClass = "teacher-reputation-empty";

              if (index < result.rating) {
                ratingClass = "teacher-reputation-star";
              }

              var floatingPointValue = result.rating - index;
              if (floatingPointValue > 0 && floatingPointValue < 1) {
                ratingClass = "teacher-reputation-half-star";
              }
              ]}

              <div class="{{ ratingClass }}"></div>
            {[ }); ]}
          </div>
        </div>
        

        <div class="teacher-description">
          {{ description }}
        </div>

        <div class="tags-section">

        {[ _.each(result.professorships, function(professorship) {]}
          
          <span class="tag-container">
            {{professorship.activity.name}}
          </span>

         {[ }); ]}

        </div>

        <div id="{{result.id}}" class="show-details"></div>

      </div>
    </div>
  {[ 
    }); 
  ]}
</script>