<!-- Remove this, just the debug box -->
<% content_for :debug_box do %>
  <div id="debuggingBox">
    <label style="color: white;">
      Debugging Box
    </label></br>
    <br/>
    <a onclick="document.location.href='/'">Go to home</a></br>
  </div>
<% end %>

<% content_for :head do %>
  <script>

    // Initialize the JavaScript for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.show.initialize();
    });
  
  </script>

<% end %>

<% content_for :page_id do %>
  "show_page"
<% end %>

<section id="main_content">

  <nav id="main-details-navigation">
    <div class="nav-left-buttons">
      <div id="new_search" class="green-button">Nueva Busqueda</div>
      <div id="back_to_results" class="dark-button">Volver a Resultados</div>
    </div>
  </nav>

  <section id="details">
    <header>
        <div class="avatar"><img src="/avatars/<%=@teacher.avatar%>" align="middle" width="100%" style="position:absolute;max-height:150px;max-width:130px;vertical-align:middle"/></div>

        <div class="main-information">
          <h2 class="fullname"><%=@teacher.first_name + " " + @teacher.last_name%>
            <div class="reputation">
              <%
              rating = @teacher.get_rating
              for i in 1..rating do

                rating_class = "reputation-empty"

                if (i < rating)
                  rating_class = "reputation-star"
                end

                value = rating - i
                if (value > 0 and value < 1)
                  rating_class = "reputation-half-star"
                end
              %>
              <div class="<%=rating_class%>"></div>

              <%
              end
              %>
            </div>
          </h2>

          <div class="social-tags">
            <%
            @teacher.professorships.each do |professorship|
            %>
            <span class="social-tag">
              <%=professorship.activity.name%>
            </span>
            <%
            end              
            %>
          </div>
          <div class="line">
            <small class="header">Ubicacion:</small>
            <%
            for i in 0..@teacher.locations.length-1 do
              location = @teacher.locations[i]
              i > 0 ? comma = ", " : comma = ""
            %><small class="value"><%=comma%><%=location%></small><%
            end
            %>
          </div>
          <div class="line">
            <small class="header">Metodologia:</small>
            <small class="value">
              <%
              if @teacher.goes_to_places
                %>
                <%="Va a domicilio"%>
                <%
              end
              if @teacher.receives_people
                @teacher.goes_to_places ? separator = " y también d" : separator = "D"
                %>
                <%=separator + "a clases en su casa"%>
                <%
              end
              %>

            </small>
          </div>
          <div class="line">
            <small class="header">Costo de clase:</small>
              <small class="value">
              <%
              @teacher.professorships.each do |professorship|

                price_per_hour = "No disponible"
                if !professorship.price_per_hour.nil?
                  price_per_hour = "$ " + professorship.price_per_hour.to_s
                %>
                <%="#{price_per_hour} (#{professorship.activity.name})"%>
                <%
                end
              end
              %>
              </small>
          </div>
        </div>

        <div class="secondary-information">
          <h3 class="teacher-activity">Educacion</h3>
          <%
          if @teacher.qualifications.length == 0
          %>
            <div class="activity-description">(el profesor no cargo certificaciones)</div>
          <%
          end

          @teacher.qualifications.each do |qualification|
          %>
          <div class="activity-description"><%="#{qualification.name}"%> de <%="#{qualification.institute}"%></div>
          <%
          end
          %>
        <div>

        <div class="clear"></div>
    </header>

    <div class="details-content">
      <div class="left-menu">
        <div class="gray-button">Perfil</div>
        <!--<div class="gray-button">Alumnos</div>-->
        <!--<div class="gray-button">Preguntas</div>-->
      </div>

      <div class="content"><%=@teacher.description%></div>

      <form class="contact-form">
        <h3>Contactá al profesor en forma privada</h3>
        <div>
          <label>Tu nombre</label>
          <input type="text"></input>
        </div>
        <div>
          <label>Tu e-mail de contacto</label>
          <input type="text"></input>
        </div>
        <div>
          <label>Asunto del mensaje</label>
          <input type="text"></input>
        </div>
        <div>
          <label>Mensaje</label>
          <textarea rows="1" cols="20"></textarea>
        </div>
      </form>

      <div class="clear"></div>
    </div>
  </section>

</section>
